torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
gradio==5.29.1
funasr==1.2.6
google-adk==0.3.0
litellm==1.67.2
loguru==0.7.3
json_repair==0.44.1
mcp==1.6.0
pydub==0.25.1
pydantic==2.11.3
pydantic-core==2.33.1
pydantic-settings==2.9.1
fastapi==0.115.12
python-multipart==0.0.20