
# open-ai api key
OPENAI_API_BASE="https://ark.cn-beijing.volces.com/api/v3"
# OPENAI_API_KEY= "please set your openai api key by export OPENAI_API_KEY="your key""

OPENAI_MODEL="doubao-1-5-pro-32k-250115"
OPENAI_MODEL_THINKING="doubao-1-5-thinking-pro-250415"

# 选择模型推理类型 ['local', 'api']
ASR_INFERENCE_TYPE="local"

# 选择ASR模型名称 ['sense_voice']
ASR_APP_NAME="sense_voice"  

#
ASR_BATCH_MAX_WINDOWS_SIZE=5000

# ASR模型 - 本地部署模式
SENSE_VOICE_LOCAL_MODEL_PATH="<PATH>"
SENSE_VOICE_LOCAL_VAD_MODEL_PATH="<PATH>"

# 切片路径
KB_BASE_PATH="<PATH>"


